.page-frame {
  .container {
    h2 {
      margin-bottom: 30px;
    }
    h5 {
      line-height: 1.5;
    }
  }
}

.text-frame {
  padding: 0px 15px;
  h5 {
    font-size: 18px;
  }
}


.frame-realization {
  margin-top: 50px;
  margin-bottom: 30px;

  padding: 10px 20px;
  h5 {
    font-size: 18px;
  }
  i {
    color: $blue;
  }
}

.container {
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
}

.logo-partenaires {
  padding: 50px 15px;
  margin-top: 15px;
  border-top: 1px solid rgb(210, 210, 210);
  img {
    margin: 8px;
  }
}

.center-text {
  color: grey;
  text-align: center;
}

.bold {
  font-weight: bolder;
}
