.page-frame {
  .container {
    h2 {
      margin-bottom: 30px;
    }
    h5 {
      line-height: 1.5;
    }
  }
}


.frame-realization {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #0e1e48;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.container {
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
}

.logo-partenaires {
  padding: 50px 15px;
}
