* {
  margin: 0;
  padding: 0;
}

h1, h2, h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  //padding-top: 30px;
  //padding-bottom: 25px;
  margin-top: 0px;
}

h3, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0px;
}

.btn-primary {
  background-color: #0E1E48;
  border: 1px solid #0E1E48;
}

.btn-primary:hover {
  transition-duration: 0.3s;
}

body {
  background-color: rgba(14, 30, 72, 0.03);;
}

 a:hover {
  text-decoration: none;
}
