<form action="//forms.brace.io/augustin.debrosses@gmail.com">
  <div class="line-one">
    <input class="names" type="text" name="name" placeholder=" Nom" style="font-style:italic">
    <input class="names" type="text" name="name" placeholder=" Prénom" style="font-style:italic">
  </div>
  <input class="email" type="email" name="_replyto" placeholder=" jacques.dupont@gmail.com" style="font-style:italic">
  <textarea class="form-control" rows="4" placeholder="Message" style="font-style:italic"></textarea>
  <input type="submit" value="Envoyer" class="btn-primary submit">
</form>
