<%= render 'shared/navbar' %>


  <div class="page-contact">
    <div class="container">
    <h2>Nos solutions vous intéressent ?<br>Contactez-nous</h2>
      <div class="row">
        <div class="contact-form col-xs-12 col-sm-7 ">
          <h3>Directement</h3>
          <form action="//forms.brace.io/augustin.debrosses@gmail.com">
            <div class="line-one">
              <input class="names" type="text" name="name" placeholder=" Nom" style="font-style:italic">
              <input class="names" type="text" name="name" placeholder=" Prénom" style="font-style:italic">
            </div>
            <input class="email" type="email" name="_replyto" placeholder=" jacques.dupont@gmail.com" style="font-style:italic">
            <textarea class="form-control" rows="4" placeholder="Message" style="font-style:italic"></textarea>
            <input type="submit" value="Envoyer" class="btn-primary submit">
          </form>
        </div>
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="photo col-xs-12 col-sm-3">
          <h3>Sur LinkedIn</h3>
          <a href="https://www.linkedin.com/in/pierre-gosselin-434b7641/">
            <%= image_tag "pierre_gosselin.jpg", id: "pierre-gosselin" %>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <h6>Pierre Gosselin</h6>
          </a>
        </div>
      </div>
    </div>
  </div>

