<%= render 'shared/navbar' %>


  <div class="page-contact">
    <div class="container">
    <h2>Nos solutions vous intéressent ?<br>Contactez-nous</h2>
      <div class="row">

        <div class="col-xs-12 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-3 mailing">
          <h3>Par mail</h3>
          <div class="btn-mail">
            <a href="mailto:pierre@gosselin-associes.com"> <i class="fa fa-envelope"></i><h4>Pierre Gosselin</h4></a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-2">
        </div>

        <div class="photo col-xs-12 col-sm-5 col-md-3">
          <h3>Sur LinkedIn</h3>
          <a href="https://www.linkedin.com/in/pierre-gosselin-434b7641/">
            <%= image_tag "pierre_gosselin.jpg", id: "pierre-gosselin" %>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <h6>Pierre Gosselin</h6>
          </a>
        </div>

        <div class="col-xs-12 col-md-2">
        </div>

      </div>
    </div>
  </div>

