<%= render 'shared/navbar' %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4 timeline">

      <!-- <div class="active"> -->
        <div class="twenty17 inline-item">
          <div class="date"></div>
          <div class="line ga"></div>
          <div class="resume"><p>x opérations en AMO<br>y opérations de promotion</div>
        </div>

        <div class="twenty11 inline-item">
          <div class="date"><p>2011</p></div>
          <div class="line ga"></div>
          <div class="resume"><p>Création de G&A MO</p></div>
        </div>
      <!-- </div> -->

      <div class="twenty10 inline-item">
        <div class="date"><p>2010</p></div>
        <div class="line nex"></div>
        <div class="resume"><p>Directeur Général de Nexity Résidence</p></div>
      </div>

      <div class="twenty08 inline-item">
        <div class="date"><p>2008</p></div>
        <div class="line ga"></div>
        <div class="resume"><p>1ère Opération de Promotion personnelle</p></div>
      </div>

      <div class="twenty08bis inline-item">
        <div class="date1"></div>
        <div class="line1 nex"></div>
        <div class="resume1"><p>Directeur Général de Nexity Patrimoine</p></div>
      </div>

      <div class="twenty02 inline-item">
        <div class="date"><p>2002</p></div>
        <div class="line nex"></div>
        <div class="resume"><p>Directeur Général de Maéva</p></div>
      </div>


      <div class="nineteen98 inline-item active">
        <div class="date"><p>1998</p></div>
        <div class="line nex"></div>
        <div class="resume"><p>Créateur et Directeur de la Pierre Financière</p></div>
      </div>

      <div class="nineteen90 inline-item">
        <div class="date"><p>1990</p></div>
        <div class="line nex"></div>
        <div class="resume"><p>Directeur de Saintot<br>MO d'Aquaboulevard<br>Directeur d'OBM</p></div>
      </div>

      <div class="nineteen83 inline-item">
        <div class="date"><p>1983</p></div>
        <div class="line nex"></div>
        <div class="resume"><p>Ingénieur Chantier<br>Conducteur de Travux</p></div>
      </div>

      <div class="nineteen79 inline-item">
        <div class="date"><p>1979</p></div>
        <div class="line school"></div>
        <div class="resume"><p>Diplôme de l'ESSEC</p></div>
      </div>

      <div class="nineteen77 inline-item">
        <div class="date"><p>1977</p></div>
        <div class="line school"></div>
        <div class="resume"><p>Diplôme de l'ESTP<br>Licence en Economie à Paris II - Assas</p></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 fiche">
      <div class="twenty10-fiche hidden">
        <div class="poste">
          <h2>Directeur Général de Nexity Résidences</h2>
          <h4>2009-2010</h4>
        </div>

        <div class="inline-item">
          <div class="resume-full">
            <p>De 2009 à 2010, création au sein du groupe d’une nouvelle division  Nexity Résidences (8 développeurs et responsables de programmes réalisant 15 résidences par an). <br>
              <br>
            La division regroupe les sociétés de montage des résidences gérées de Nexity : <br>
            - Résidences services pour Etudiants (libres et sociales) <br>
            - Résidences Hôtelières<br>
            - Résidences de Tourisme<br>
            - Résidences pour Personnes Agées<br>
            - EHPAD<br>
            <br>
            La division regroupe aussi les sociétés de gestion du groupe Nexity, en lien avec son expérience chez
            Maeva :<br>
            - Lamy Résidences qui gère 180 résidences pour étudiants employant 400 salariés<br>
            - Citea (50% Pierre & Vacances et 50% Lamy-Nexity) qui gère 40 résidences hôtelières pour 250 personnes employées,<br>
            - Aegide (35% Nexity) qui gère une douzaine de Résidences pour Personnes Agées.<br>
            </p>
          </div>
          <div class="photo-resume">
          </div>
        </div>

      </div>


      <div class="twenty02-fiche hidden">
        <div class="poste">
          <h2>Directeur Général de Nexity Patrimoine</h2>
          <h4>2002-2009</h4>
        </div>

        <div class="inline-item">
          <div class="resume-full">
            <p>
              En 2002, Alain Dinin décide d’agrandir et de transformer la Pierre Financière qui devient Nexity Patrimoine. La filiale continue à développer et à commercialiser les résidences gérées. Il y adjoint une dizaine de vendeurs salariés. <br>
              <br>
              La filiale vend des produits destinés aux investisseurs personnes physiques pour toutes les filiales du groupe, au détail et en bloc. La marque Patrimmova est créée pour cela. L’équipe croit jusqu’à 50 vendeurs sur toute la France. <br>
              <br>
              En 2005 la filiale vend 610 lots, puis jusqu’à 1570 en 2007. En 2008 malgré la crise, elle vend 755 lots puis remonte dès 2009 à 1520 lots. La filiale assure aussi, avec les filiales régionales, la livraison de 10 opérations de résidences gérées, soit 1050 lots pour 125M€.
            </p>
          </div>
          <div class="photo-resume">
          </div>
        </div>

      </div>

      <div class="nineteen98-fiche hidden">
        <div class="poste">
          <h2>Directeur Général Délégué de Maeva</h2>
          <h4>1998-2002</h4>
        </div>

        <div class="inline-item">
          <div class="resume-full">
            <p>En 1998, Maeva, spécialisée dans la gestion et la commercialisation de séjour de vacances en résidences, est acheté par Nexity pour 150 millions de francs. Pierre Gosselin fait partie de l’équipe chargée de sa valorisation avant son achat et du plan de développement stratégique. <br>
            <br>

            En sus de ses fonctions de DGD, il s’occupera également : <br>
            - de la croissance interne avec les promoteurs et de la croissance externe par l’achat de murs et de fonds,<br>
            - de la gestion des franchisés de Maeva (Pays Basque, Corse, Andorre, Catalogne, Baléares),<br>
            - de l’affrètement des avions (Tunisie, Canarie, Corse),<br>
            - ainsi que du « pricing » pour le catalogue de vente.<br>
            <br>
            En 2001, Maeva, alors n°1 de ce métier, a été revendu au groupe Pierre et Vacances pour 650 millions de francs, soit pour plus de 4 fois son prix initial en 3 ans.

            </p>
          </div>
          <div class="photo-resume">
          </div>
        </div>

      </div>

      <div class="nineteen90-fiche">
        <div class="poste">
          <h2>Directeur Général de la Pierre Financière, filiale de Nexity</h2>
          <h4>1990-1998</h4>
        </div>

        <div class="inline-item">
          <div class="resume-full">
            <p>
            En 1990, Pierre Gosselin crée la Pierre Financière qui devient la nouvelle filiale nationale de promotion de logements gérés pour étudiants et de résidences hôtelières du groupe (à l’époque George V). <br>
            <br>
            Il atteint un chiffre d’affaire de 100 millions de Francs en 1995 et de 240 millions de Francs en 1998. Alain Dinin utilisera ce savoir-faire pour créer et développer ses agences régionales. La Pierre Financière prendra en charge le développement, le montage et la vente des opérations.<br>
            <br>
            Il combinera ce poste avec celui d’administrateur de filiales.
            </p>
          </div>
          <div class="photo-resume">
            <%= cl_image_tag("facotel_bussy_st_georges_jrp2ld.jpg", :crop=>"crop")  %>
            <div class="legende">
              <p>
                BUSSY SAINT GEORGES <br>
                Résidence Etudiante <br>
                Résidence Tourisme Urbain <br>
                #225 lots
              </p>
            </div>

            <%= cl_image_tag("LA_defense_Pierre_Financiere_lyzdrn.png", :crop=>"crop")  %>
            <div class="legende">
              <p>
                LA DEFENSE <br>
                Résidence Etudiante <br>
                #103 lots
              </p>
            </div>

            <%= cl_image_tag("Paris_dubail_pierre_fi_glcjyx.png", :crop=>"crop")  %>
            <div class="legende">
              <p>
                LA DEFENSE <br>
                Résidence de Tourisme Urbain<br>
                #50 lots
              </p>
            </div>

          </div>
        </div>

      </div>

      <div class="nineteen83-fiche hidden">
        <div class="poste">
          <h2>Directeur de Saintot, MO d'Aquaboulevard, Directeur d'OBM </h2>
          <h4>1983-1990</h4>
        </div>

        <div class="inline-item">
          <div class="resume-full">
            <p>
            Pierre Gosselin a commencé sa carrière en 1979 chez Eiffage comme ingénieur de chantier puis conducteur de travaux.
            Dès 1983, à 29 ans, il est nommé directeur Général de sociétés du groupe Eiffage (qui est alors le n°1 du bâtiment en France). Il prend successivement la direction de SAINTOT filiale régionale de Franche-Comté, puis de la maîtrise d’ouvrage de l’Aquaboulevard de Paris, et enfin de la filiale nationale OBM à Orléans (spécialisée dans les bâtiments métalliques) dont il fait une filiale très profitable.<br>
            <br>
            En 1990, il quitte le groupe Eiffage pour rejoindre ce qui deviendra le groupe Nexity. Il y restera 20 ans, essentiellement auprès de Alain Dinin puis de Jean-Philippe Ruggieri.<br>
            <br>
            Nexity est aujourd’hui le n°1 de la promotion en France avec 2,9 milliards d’euros de chiffre d’affaire et plus de 7 000 salariés.

            </p>
          </div>
          <div class="photo-resume">
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
